[user]
	name = 9yokuro
	email = 119095935+9yokuro@users.noreply.github.com
[core]
	editor = vim
[init]
	defaultBranch = main
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[color]
	ui = true
