* {
  border: none;
  border-radius: 0;
  font-family: LiberationSans;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: #121212;
  color: #FFFFFF;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #242B33;
}

#workspaces button.focused {
  background: #171C21;
  border-bottom: 1px solid #4F8BC2;
  color: #FFFFFF;
}

#clock {
  border-bottom: 1px solid #4F8BC2;
  padding: 0 10px;
}

#mode {
  background: #171C21;
  border-bottom: 1px solid #4F8BC2;
  padding: 0 10px;
}
